* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background: linear-gradient(-45deg, #0f0e1b, #121e34);
    background-size: 400% 400%;
    animation: gradient-bg 12s ease-in-out infinite;
    color: #ffffff;
    backdrop-filter: blur(80px);
}

@keyframes gradient-bg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1,
h4,
p,
a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.btn {
    padding: 12px 32px;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff07c;
    color: #222;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
}
